@primary-color: #ff4c3b;

@layout-header-height: 51px;
@layout-header-padding : 0px 0px;
@layout-header-background : #f8f8f8;
@layout-body-background: #ffffff;
@layout-footer-padding : 0px;

@border-radius-base: 2px;

@collapse-content-bg: #ffffff;
